# Base URL for server-side fetching (set to http://localhost:3000 in dev)
NEXT_PUBLIC_BASE_URL=

# FiveM host (ip:port)
FIVEM_HOST=127.0.0.1:30120

# Public links
NEXT_PUBLIC_TEBEX_URL=
NEXT_PUBLIC_DISCORD_INVITE=
NEXT_PUBLIC_CONTACT_EMAIL=

# Auth.js (NextAuth)
AUTH_SECRET=
GITHUB_ID=
GITHUB_SECRET=

# Database (dev default: SQLite)
DATABASE_URL=file:./dev.db
